[v-cloak] {
  display: none;
}

html {
  height: 100vh;
}

body {
  font-family: "medium-ui-font", "medium-content-sans-serif-font", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Verdana", "sans-serif";
  background: #e9ebee;
  height: 100vh;
  margin: 0;
}

.backimage {
  position: fixed;
  background-image: url('backimage.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.container {
  margin: auto;
  max-width: 600px;
  min-height: 100vh;
}

.container div.col-xs-12 {
  padding: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  z-index: 10;
  background-color: #333;
}

.footer a {
  flex-grow: 1;
  text-align: center;
  color: #f2f2f2;
  font-size: 14px;
  padding: 13px;
  height: 40px;
  text-decoration: none;
}

.footer a:hover {
  background: #4CAF50;
}

.footer .searchTagBtn span, .footer .searchWordBtn span {
  position: relative;
  top: -2px;
}

.searchTagBox, .searchWordBox {
  display: none;
  flex-grow: 1;
}

.searchTagBox input, .searchWordBox input {
  text-align: center;
  background: #eee !important;
  color: #333;
  border: 4px solid #333;
  font-size: 14px;
  border-radius: 0;
  height: 40px;
  padding: 5px;
}

.searchTagBox input:focus, .searchWordBox input:focus {
  border: 4px solid #333;
  outline: 0;
}

.searchTagBox .typeahead__cancel-button {
  opacity: 0.8 !important;
  top: 12px;
}

.searchTagBox .typeahead__result {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 4px solid #333;
}

.searchTagBox .typeahead__list {
  max-height: 80vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  position: relative !important;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #98D69C;
}

.category_search {
  color: #008008;
  position: relative;
  left: 10px;
  font-size: x-small
}

.searchTagBox .typeahead__list>li>a {
  color: #333;
  text-align: left;
  padding: 13px;
  font-size: 14px;
  height: 40px;
}

.searchTagBox .typeahead__list>li.active>a, .searchTagBox .typeahead__list>li>a:focus, .searchTagBox .typeahead__list>li>a:hover {
  background-color: #4CAF50;
  color: white;
}

.searchWordBox .input-group-addon {
  color: #333;
  background-color: #e9ebee;
  border: 4px solid #333;
  border-left: 0;
  border-radius: 0px;
}

#sidenav {
  height: 0;
  overflow-y: scroll;
  width: 100%;
  z-index: 20;
  position: fixed;
  background-color: rgba(48, 47, 47, 0.9);
  transition: 0.5s;
  color: #eee;
}

#sidenav .title {
  padding: 1rem;
}

#sidenav .query {
  text-align: center;
  padding: 1rem;
}

#sidenav .numb {
  text-align: center;
  margin-bottom: 0.8rem;
}

.c_tags_category {
  display: flex;
  flex-wrap: wrap;
}

.c_tags_category li {
  list-style: none;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  font-size: 10px;
  padding: 0.5rem;
}

.c_tags_category .Symptom, .card_tags .Symptom {
  color: #f67272;
  background: rgba(240, 240, 240, 0.8);
}

.c_tags_category .Location, .card_tags .Location {
  color: #2ed0da;
  background: rgba(240, 240, 240, 0.8);
}

.c_tags_category .Disease, .card_tags .Disease {
  color: #f5b547;
  background: rgba(240, 240, 240, 0.8);
}

.c_tags_category .Risk, .card_tags .Risk {
  color: #c0c915;
  background: rgba(240, 240, 240, 0.8);
}

.c_tags_category .Management, .card_tags .Management {
  color: #5667d5;
  background: rgba(240, 240, 240, 0.8);
}

.c_tags_category .Lab, .card_tags .Lab {
  color: #9754c1;
  background: rgba(240, 240, 240, 0.8);
}

.c_tags_category .Symptom.filled {
  background: #f67272;
  color: white;
}

.c_tags_category .Location.filled {
  background: #2ed0da;
  color: white;
}

.c_tags_category .Disease.filled {
  background: #f5b547;
  color: white;
}

.c_tags_category .Risk.filled {
  background: #c0c915;
  color: white;
}

.c_tags_category .Management.filled {
  background: #5667d5;
  color: white;
}

.c_tags_category .Lab.filled {
  background: #9754c1;
  color: white;
}

.add_tag {
  padding: 0 !important;
}

.add_tag .typeahead__result {
  border-bottom: 4px solid #eee;
}

.add_tag ul.typeahead__list {
  margin: 0;
  padding: 0;
  border: 0;
  max-height: 300px;
  overflow-y: scroll;
  position: relative;
  border-top: 0;
  border-bottom: 1px solid #eee;
}

.add_tag input:focus {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.add_tag .typeahead__filter-button {
  border: 0 !important;
  border-bottom: 1px solid #eee !important;
  border-top: 1px solid #eee !important;
}

.add_tag .typeahead__container {
  margin: 1.5rem 0;
}

.add_tag .typeahead__list {
  font-size: 13px;
}

.form-group input[type="checkbox"] {
  display: none;
}

.with_tag .btn {
  border: 0;
  font-size: 11px;
  line-height: 20px;
  max-width: 93%;
  overflow-x: scroll;
  margin: 0 0.7rem;
  margin-bottom: 1.5rem;
  padding-top: 6px;
}

.with_tag .btn .badge {
  padding-top: 2px !important;
  background-color: #8e9093;
  font-size: 10px;
  color: white;
}

.card_panel {
  margin-bottom: 13rem;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card_content div, .card_panel textarea {
  padding: 1.3rem;
  font-size: 1.3rem;
  line-height: 21px;
  border-radius: 0;
}

.card_tags a, .add_tag input {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.97);
}

.card_tags a {
  display: inline-block;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  margin-top: 0.6rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding: 4px 8px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.add_tag input {
  border: 0;
  width: 100%;
  padding: 0 1rem;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 1.2rem;
}

.add_tag.form-group {
  margin-bottom: 0;
}

.carousel img {
  margin: auto;
  max-height: 350px;
  width: auto;
}

.rsc {
  margin: 1.5rem 0;
}

.rsc .table {
  font-size: 1.2rem;
  margin: 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.rsc .table>thead>tr>th, .rsc .table>tbody>tr>td {
  text-align: center !important;
}

.carousel-indicators {
  position: relative;
  top: -5px;
  z-index: 1;
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  left: 0;
  margin-top: 1rem;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #ccc;
  border: 1px solid #ccc;
  margin: 0 2px;
}

.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 2px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.carousel-caption {
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: none;
  margin: 0 auto;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-caption p {
  padding-bottom: 0;
  margin: 10px auto;
  font-weight: bold;
}

.panel-group {
  margin-top: 1rem !important;
  margin-bottom: 0px !important;
}

.panel-group .panel {
  border-radius: 0;
  border: 0;
}

.panel-group .panel a {
  display: block;
  width: 100%;
  padding: 10px 10px;
}

.panel-default>.panel-heading {
  background-image: none;
  padding: 0;
  border-bottom: 1px solid #eee;
}

.panel-group ol {
  margin: 0;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 0;
}

.panel-group .panel-title, .panel-group .panel-body {
  font-size: 1.2rem;
}

.updateBtn {
  width: 100%;
  display: flex;
  height: 36px;
}

.updateBtn button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
  border: 0;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.6);
  background: #fafafa;
  padding: 0.5rem;
  flex-grow: 1;
}

.loading_img {
  z-index: 50;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #e9ebee;
  opacity: 0.5;
}

.loading_img img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -99px;
  margin-top: -99px;
}
