<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>MediTag</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/jquery-typeahead/dist/jquery.typeahead.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="loading_img" style="display:none;">
    <img src="css/gears.svg">
  </div>
  <!-- tagVue / sidenav -->
  <div id="sidenav" v-cloak>
    <div class="tagList">
      <div class="query">{{ query.name }}</div>
      <hr style="margin:0;margin-bottom:1rem">
      <div class="numb">선택된 태그 : {{ selected_tags_numb }} 개</div>
      <div class="numb">검색된 케이스 : {{ selected_cards_numb }} 개</div>
      <div class="numb">연관된 태그 : {{ c_selected_tags_numb }} 개</div>
      <hr style="margin:0">
      <!-- w_tag in with_tags -->
      <div class="title">Location</div>
      <template v-for="w_tag in with_tags" v-cloak>
        <div class="form-group with_tag" v-if="w_tag.c_selected && w_tag.category=='Location'">
          <label :for="w_tag.raw_id" :class="tagClass(w_tag)" @click="stopPropagate($event)"> {{ w_tag.name }} <div class="badge"> {{ c_selected_tags[w_tag.raw_id] }} </div></label>
          <input type="checkbox" :id="w_tag.raw_id" :checked="w_tag.selected" :disabled="w_tag.query" @change="tagCheck(w_tag, $event)" @click="stopPropagate($event)">
        </div>
      </template>
      <hr style="margin:0">
      <div class="title">Symptom</div>
      <template v-for="w_tag in with_tags" v-cloak>
        <div class="form-group with_tag" v-if="w_tag.c_selected && w_tag.category=='Symptom'">
          <label :for="w_tag.raw_id" :class="tagClass(w_tag)" @click="stopPropagate($event)"> {{ w_tag.name }} <div class="badge"> {{ c_selected_tags[w_tag.raw_id] }} </div></label>
          <input type="checkbox" :id="w_tag.raw_id" :checked="w_tag.selected" :disabled="w_tag.query" @change="tagCheck(w_tag, $event)" @click="stopPropagate($event)">
        </div>
      </template>
      <hr style="margin:0">
      <div class="title">Disease</div>
      <template v-for="w_tag in with_tags" v-cloak>
        <div class="form-group with_tag" v-if="w_tag.c_selected && w_tag.category=='Disease'">
          <label :for="w_tag.raw_id" :class="tagClass(w_tag)" @click="stopPropagate($event)"> {{ w_tag.name }} <div class="badge"> {{ c_selected_tags[w_tag.raw_id] }} </div></label>
          <input type="checkbox" :id="w_tag.raw_id" :checked="w_tag.selected" :disabled="w_tag.query" @change="tagCheck(w_tag, $event)" @click="stopPropagate($event)">
        </div>
      </template>
      <hr style="margin:0">
      <div class="title">Risk</div>
      <template v-for="w_tag in with_tags" v-cloak>
        <div class="form-group with_tag" v-if="w_tag.c_selected && w_tag.category=='Risk'">
          <label :for="w_tag.raw_id" :class="tagClass(w_tag)" @click="stopPropagate($event)"> {{ w_tag.name }} <div class="badge"> {{ c_selected_tags[w_tag.raw_id] }} </div></label>
          <input type="checkbox" :id="w_tag.raw_id" :checked="w_tag.selected" :disabled="w_tag.query" @change="tagCheck(w_tag, $event)" @click="stopPropagate($event)">
        </div>
      </template>
      <hr style="margin:0">
      <div class="title">Management</div>
      <template v-for="w_tag in with_tags" v-cloak>
        <div class="form-group with_tag" v-if="w_tag.c_selected && w_tag.category=='Management'">
          <label :for="w_tag.raw_id" :class="tagClass(w_tag)" @click="stopPropagate($event)"> {{ w_tag.name }} <div class="badge"> {{ c_selected_tags[w_tag.raw_id] }} </div></label>
          <input type="checkbox" :id="w_tag.raw_id" :checked="w_tag.selected" :disabled="w_tag.query" @change="tagCheck(w_tag, $event)" @click="stopPropagate($event)">
        </div>
      </template>
      <hr style="margin:0">
      <div class="title">Lab</div>
      <template v-for="w_tag in with_tags" v-cloak>
        <div class="form-group with_tag" v-if="w_tag.c_selected && w_tag.category=='Lab'">
          <label :for="w_tag.raw_id" :class="tagClass(w_tag)" @click="stopPropagate($event)"> {{ w_tag.name }} <div class="badge"> {{ c_selected_tags[w_tag.raw_id] }} </div></label>
          <input type="checkbox" :id="w_tag.raw_id" :checked="w_tag.selected" :disabled="w_tag.query" @change="tagCheck(w_tag, $event)" @click="stopPropagate($event)">
        </div>
      </template>
      <hr style="margin:0">
    </div>
  </div>
  <!-- container / cardVue -->
  <div class="container" id="card_container">
    <div class="row">
      <div class="col-xs-12">
        <!-- c in cards / c_tag -->
        <template v-for="c in cards">
          <div class="card_panel" v-if="c.selected && c.showing">
            <div class="c_tags_category">
              <li :class="{'filled' : c.tags_category.includes('Location')}" class="Location">Location</li>
              <li :class="{'filled' : c.tags_category.includes('Symptom')}" class="Symptom">Symptom</li>
              <li :class="{'filled' : c.tags_category.includes('Disease')}" class="Disease">Disease</li>
              <li :class="{'filled' : c.tags_category.includes('Risk')}" class="Risk">Risk</li>
              <li :class="{'filled' : c.tags_category.includes('Management')}" class="Management">Management</li>
              <li :class="{'filled' : c.tags_category.includes('Lab')}" class="Lab">Lab</li>
            </div>
            <!-- card content -->
            <div class="card_content" :id="makeId('content',c.id)">
              <textarea rows="10" v-text="c.content" class="form-control" v-if="c.editing==true"></textarea>
              <div v-else>{{ c.content }}</div>
            </div>
            <hr style="margin-top:0;margin-bottom:1rem;">
            <!-- c_tag in c.tags_info -->
            <div class="card_tags">
              <span class="card_tags" v-for="c_tag in c.tags_info">
                  <a class="link" :class="c_tag.category" @click="tagDelete(c_tag,c)">
                    <span class="glyphicon glyphicon-minus-sign" style="fontSize:1.1rem;"></span> {{ c_tag.name }}
                  </a>
              </span>
            </div>
            <!-- add tag -->
            <div class="add_tag form-group">
              <form onsubmit="return false;" :key="makeId('select',c.id)">
                <div class="typeahead__container">
                  <div class="typeahead__field">
                    <span class="typeahead__query">
                      <input :id="makeId('select',c.id)" placeholder="Add a tag" autocomplete="off" @focus.once="selectReady(c)">
                    </span>
                  </div>
                </div>
              </form>
            </div>
            <!-- card resources -->
            <div class="rsc" v-if="c.resources.length > 0">
              <div :id="makeId('rsc',c.id)" class="carousel slide" data-interval="false">
                <!-- Indicators -->
                <template v-if="c.resources.length > 1">
                  <ol class="carousel-indicators">
                    <!-- c_rsc in c.resources -->
                    <li v-for="c_rsc in c.resources" :data-target="makeId('#rsc',c.id)" :data-slide-to="Number(c_rsc.id.replace('rsc_', '')) - 1" :class="{'active': c_rsc.id=='rsc_1'}"></li>
                  </ol>
                </template>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <!-- c_rsc in c.resources -->
                  <div class="item" v-for="c_rsc in c.resources" :class="{'active': c_rsc.id=='rsc_1'}">
                    <div class="carousel-caption" v-if="c_rsc.type == 'image'">
                      <p>{{ c_rsc.name }}</p>
                    </div>
                    <template v-if="c_rsc.type==='image'">
                      <img :src="c_rsc.path" alt="">
                    </template>
                    <template v-else-if="c_rsc.type==='table'">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>{{ c_rsc.name }}</th>
                            <th>참고치</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="res in c_rsc.result">
                            <td>{{ res.split('(참고치:')[0] }}</td>
                            <td><span v-if="res.split('(참고치:')[1]">{{ res.split('(참고치:')[1].replace(')', '') }}</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </template>
                  </div>
                </div>
                <!-- Left and right controls -->
                <template v-if="c.resources.length > 1">
                  <a class="left carousel-control" :href="makeId('#rsc',c.id)" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" :href="makeId('#rsc',c.id)" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </template>
              </div>
            </div>
            <div class="panel-group">
              <div class="panel panel-default">
                <!-- Impression -->
                <div class="panel-heading">
                  <a class="panel-title" data-toggle="collapse" :href="makeId('#impression',c.id)">Impression</a>
                </div>
                <div :id="makeId('impression',c.id)" class="panel-collapse collapse">
                  <div class="panel-body"></div>
                </div>
                <!-- What to do next -->
                <div class="panel-heading">
                  <a class="panel-title" data-toggle="collapse" :href="makeId('#whatnext',c.id)">What To Do Next</a>
                </div>
                <div :id="makeId('whatnext', c.id)" class="panel-collapse collapse">
                  <div class="panel-body"></div>
                </div>
                <!-- Question -->
                <div class="panel-heading">
                  <a class="panel-title" data-toggle="collapse" :href="makeId('#ques',c.id)">Question</a>
                </div>
                <div :id="makeId('ques',c.id)" class="panel-collapse collapse">
                  <div class="panel-body">
                    <span style="padding-left:1rem;">Q : {{ c.question }}</span>
                    <hr style="margin:0.5rem 0;">
                    <div style="padding-left:1rem;" v-for="(choice, number) in c.choices">{{ number }}. {{ choice }}</div>
                    <hr style="margin:0.5rem 0;">
                    <span style="padding-left:1rem;">A : {{ c.answer }}</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- update buttons -->
            <div class="btn-group updateBtn">
              <button class="btn btn-default" @click="editComplete(c, $event)" v-if="c.editing==true"><i class="glyphicon glyphicon-ok"></i></button>
              <button class="btn btn-default" @click="c.editing=true" v-else><i class="glyphicon glyphicon-edit"></i></button>
              <button class="btn btn-default" @click="deleteCard(c, $event)"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
          </div>
        </template>
        <button type="button" class="btn btn-success" id="readmore" v-if="data && selected_cards_numb > groupNumb * 5" @click="readMore()" v-cloak>ReadMore</button>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="footer">
    <!-- tagRecommend() -->
    <form onsubmit="return false;" class="searchTagBox">
      <div class="typeahead__container">
        <div class="typeahead__field">
          <span class="typeahead__query">
            <input placeholder="Write your Tag" autocomplete="off">
          </span>
        </div>
      </div>
    </form>
    <!-- wordSearch() -->
    <form onsubmit="return false;" class="searchWordBox">
      <div class="input-group">
        <input placeholder="Write your Word" type="text" class="form-control">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </form>
    <!-- showUnagged() -->
    <a onclick="cardVue.showUntagged()" class="tabs">
      <span class="glyphicon glyphicon-star-empty"></span>
    </a>
    <!-- showTagged() -->
    <a onclick="cardVue.showTagged()" class="tabs">
      <span class="glyphicon glyphicon-star"></span>
    </a>
    <!-- shuffleCards() -->
    <a onclick="cardVue.shuffleCards()" class="tabs">
      <span class="glyphicon glyphicon-refresh"></span>
    </a>
    <!-- sideNavController -->
    <a onclick="sideNavController.open()" class="tabs">
      <span class="glyphicon glyphicon-tags"></span>
    </a>
    <!-- Tag search -->
    <a onclick="searchNav.tag()" class="searchTagBtn">
      <span>태그검색</span>
    </a>
    <!-- Word search -->
    <a onclick="searchNav.word()" class="searchWordBtn">
      <span>단어검색</span>
    </a>
  </div>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
  <script src="bower_components/vue/dist/vue.min.js"></script>
  <script>
    $(document).ready(function() {
      tagRecommend();
      $('#sidenav').on('click', function() {
        sideNavController.close();
      })
    });

    var sideNavController = {
      open: function() {
        $("#sidenav").css("height","100vh");
      },
      close: function() {
        $("#sidenav").css("height",0);
      }
    };

    var searchNav = {
      tag: function() {
        if($(".tabs").css("display") == "none"){
          $('.searchTagBox').hide();
          $('.searchWordBox').hide();
          $('.tabs').show();
          $('.searchWordBtn').show();
          $('.searchTagBtn').html('<span>태그검색</span>').css('flex-grow',1);
        } else {
          $('.tabs').hide();
          $('.searchWordBtn').hide();
          $('.searchWordBox').hide();
          $('.searchTagBox').show();
          $('.searchTagBtn').html('<span class="glyphicon glyphicon-arrow-left"></span>').css('flex-grow',0);
        }
        $('.searchTagBox input').focus().val('');
      },
      word: function() {
        if($(".tabs").css("display") == "none"){
          $('.tabs').show();
          $('.searchTagBtn').show();
          $('.searchTagBox').hide();
          $('.searchWordBox').hide();
          $('.searchWordBtn').html('<span>단어검색</span>').css('flex-grow',1);
        } else {
          $('.tabs').hide();
          $('.searchTagBtn').hide();
          $('.searchTagBox').hide();
          $('.searchWordBox').show();
          $('.searchWordBtn').html('<span class="glyphicon glyphicon-arrow-left"></span>').css('flex-grow',0);
          $('.searchWordBox input').focus();
          $('.searchWordBox input').keypress(function(event) {
            if (event.which == 13){
              searchData.word(this);
            }
          })
          $('.searchWordBox span').click(function() {
            var that = $('.searchWordBox input');
            searchData.word(that);
          })
        }
        $('.searchWordBox input').focus().val('');
      }
    };

    var searchData = {
      tag: function(q) {
        var tag_name = q[0];
        var tag_category = q[1];
        var vars = {
          type: 'tag',
          tag_name: tag_name,
          tag_category: tag_category
        }
        $.ajax({
            type: "POST",
            url: "sql/search_sql.php",
            data: vars,
            dataType: 'json',
            complete: function() {
              $('.loading_img').hide();
            }
          })
          .done(function(data, message, xhr) {
            processData(data, [data.query.raw_id]);
            $('input').blur();
          })
          .fail(function(xhr) {
            console.log(xhr.responseText);
          })
      },
      word: function(that) {
        var vars = {
          type: 'card',
          query: $(that).val()
        }
        $.ajax({
            type: "POST",
            url: "sql/search_sql.php",
            data: vars,
            dataType: 'json',
            complete: function() {
              $('.loading_img').hide();
            }
          })
          .done(function(data, message, xhr) {
            processData(data, []);
            $('.loading_img').show();
            $('.searchWordBox').hide();
            $('.searchWordBtn').html('<span>단어검색</span>').css('flex-grow',1);
            $('.searchTagBtn').show();
            $(".tabs").show();
          })
          .fail(function(xhr) {
            console.log(xhr.responseText);
          })
      }
    }

    function tagRecommend() {
      $.typeahead({
        input: '.searchTagBox input',
        minLength: 1,
        maxItem: 200,
        accent: true,
        hightlight: "any",
        template: function(query, item) {
          var list = item.display.split(' | ');
          var result = list[0] + '<span class="category_search">' + list[1] + '</span>';
          return result;
        },
        source: {
          ajax: {
            type: "GET",
            url: "sql/typeahead/load_data_tags.php"
          }
        },
        callback: {
          onNavigateBefore: function (node, query, event) {
            event.preventInputChange = true;
          },
          onClick: function(node, a, item, event) {
            var query = item.display.split(' | ');
            searchData.tag(query);
            $('.loading_img').show();
            $('.searchTagBox').hide();
            $('.searchTagBtn').html('<span>태그검색</span>').css('flex-grow',1);
            $('.searchWordBtn').show();
            $(".tabs").show();
          }
        }
      });
    };

    function processData(data, selected_tags) {
      var q_tag = data.query.raw_id;

      // data reset
      data.with_tags = [];
      data.c_selected_tags = {};

      if (selected_tags) {
        data.selected_tags = selected_tags;
      }

      var w_tags_arr = [];
      var w_tags_raw_id = [];
      var c_selected_tags = {};
      var k = 0;
      if (!data.groupNumb) {
        data.groupNumb = 1;
      }
      for (var i = 0; i < data.cards.length; i++) {
        var c_tags_raw_id = [];
        var c_tags_category = [];
        var c = data.cards[i];
        for (var j = 0; j < c.tags_info.length; j++) {
          if (!w_tags_raw_id.includes(c.tags_info[j].raw_id)) {
            w_tags_raw_id.push(c.tags_info[j].raw_id);
            w_tags_arr.push(c.tags_info[j]);
          }
          if (!c_tags_raw_id.includes(c.tags_info[j].raw_id)) {
            c_tags_raw_id.push(c.tags_info[j].raw_id);
          }
          if (!c_tags_category.includes(c.tags_info[j].category)) {
            c_tags_category.push(c.tags_info[j].category);
          }
        }
        c.tags_raw_id = c_tags_raw_id;
        c.tags_category = c_tags_category;

        // selected
        c.selected = true;
        for (var j = 0; j < data.selected_tags.length; j++) {
          if (!c.tags_raw_id.includes(data.selected_tags[j])) {
            c.selected = false;
            break;
          }
        }
        // c_selected_tags
        if (c.selected) {
          for (var j = 0; j < c.tags_raw_id.length; j++) {
            if (c.tags_raw_id[j] in c_selected_tags) {
              c_selected_tags[c.tags_raw_id[j]] += 1;
            } else {
              c_selected_tags[c.tags_raw_id[j]] = 1;
            }
          }
          // showing
          if (k < 5 * data.groupNumb) {
            c.showing = true;
            k++;
          } else {
            c.showing = false;
          }
        } else {
          c.showing = false;
        }
        // editing
        c.editing = false;
      }
      data.with_tags = w_tags_arr;
      data.c_selected_tags = c_selected_tags;

      // with_tags_all에 property 부여하기
      for (var i = 0; i < data.with_tags.length; i++) {
        var w_tag = data.with_tags[i];
        // 1. q_tag (검색창을 통해 입력된 값)
        if (w_tag.raw_id == q_tag) {
          w_tag.query = true;
        } else {
          w_tag.query = false;
        }
        // 2. selected_tags (체크박스를 통해 선택된 태그들의 이름을 배열에 저장한 값)
        if (data.selected_tags.includes(w_tag.raw_id)) {
          w_tag.selected = true;
        } else {
          w_tag.selected = false;
        }
        // 3. c_selected_tags
        if (w_tag.raw_id in c_selected_tags) {
          w_tag.c_selected = true;
        } else {
          w_tag.c_selected = false;
        }
      }

      tagVue.data = data;
      tagVue.query = data.query;
      tagVue.cards = data.cards;
      tagVue.with_tags = data.with_tags;
      tagVue.selected_tags = data.selected_tags;
      tagVue.c_selected_tags = data.c_selected_tags;

      cardVue.data = data;
      cardVue.cards = data.cards;
      cardVue.groupNumb = data.groupNumb;

      tagRecommend();
    };

    var tagVue = new Vue({
      el: "#sidenav",
      data: {
        data: '',
        cards: '',
        with_tags: '',
        query: '',
        selected_tags: '',
        c_selected_tags: ''
      },
      computed: {
        selected_tags_numb: function() {
          return this.selected_tags.length;
        },
        c_selected_tags_numb: function() {
          if (!this.selected_tags_numb) {
            return 0;
          }
          return Object.keys(this.c_selected_tags).length;
        },
        selected_cards_numb: function() {
          var numb = 0;
          for (var i = 0; i < this.cards.length; i++) {
            if (this.cards[i].selected == true) {
              numb++;
            }
          }
          if (numb == 0) {
            this.selected_tags = [];
          }
          return numb;
        }
      },
      methods: {
        tagClass: function(tag) {
          if (tag.query) {
            return 'btn btn-danger active';
          } else {
            if (tag.selected) {
              return 'btn btn-warning active';
            }
            return 'btn btn-primary';
          }
        },
        tagCheck: function(tag, event) {
          tag.selected = event.target.checked;
          if (tag.selected) {
              this.data.selected_tags.push(tag.raw_id);
          } else {
              var pos = this.data.selected_tags.indexOf(tag.raw_id);
              this.data.selected_tags.splice(pos,1);
          }
          processData(this.data, this.data.selected_tags);
        },
        stopPropagate: function(event) {
          event.stopPropagation();
        }
      }
    });

    var cardVue = new Vue({
      el: "#card_container",
      data: {
        data: '',
        cards: '',
        groupNumb: 1
      },
      computed: {
        selected_cards_numb: function() {
          var numb = 0;
          for (var i = 0; i < this.cards.length; i++) {
            if (this.cards[i].selected == true) {
              numb++;
            }
          }
          return numb;
        }
      },
      methods: {
        showUntagged: function() {
          $('.loading_img').show();
          var vars = {
            type: 'card',
            query: 'untagged'
          }
          $.ajax({
              type: "POST",
              url: "sql/search_sql.php",
              data: vars,
              dataType: 'json',
              complete: function() {
                $('.loading_img').hide();
              }
            })
            .done(function(data, message, xhr) {
              processData(data, []);
            })
            .fail(function(xhr) {
              console.log(xhr.responseText);
            })
        },
        showTagged: function() {
          $('.loading_img').show();
          var vars = {
            type: 'card',
            query: 'tagged'
          }
          $.ajax({
              type: "POST",
              url: "sql/search_sql.php",
              data: vars,
              dataType: 'json',
              complete: function() {
                $('.loading_img').hide();
              }
            })
            .done(function(data, message, xhr) {
              processData(data, []);
            })
            .fail(function(xhr) {
              console.log(xhr.responseText);
            })
        },
        shuffleCards: function() {
          if (this.cards) {
            var j = 0;
            for (var i = 0; i < this.cards.length; i++) {
              if (j < this.groupNumb * 5) {
                this.cards[i].showing = false;
                j++;
                continue;
              }
              break;
            }

            this.cards.sort(function() { return 0.5 - Math.random() });

            var k = 0;
            for (var i = 0; i < this.cards.length; i++) {
              if (k < this.groupNumb * 5) {
                this.cards[i].showing = true;
                k++;
                continue;
              }
              break;
            }
          }
        },
        readMore: function() {
          var start = this.groupNumb * 5;
          var end = (this.groupNumb + 1) * 5;
          var k = 0;
          for (var i = start; i < this.selected_cards_numb; i++) {
            if (k < 5) {
              this.cards[i].showing = true;
              k++;
              continue;
            }
            break;
          }
          this.groupNumb++;
          this.data.groupNumb = this.groupNumb;
        },
        makeId: function(prefix, id) {
          return prefix + '_' + id;
        },
        tagDelete: function(tag, card) {
          var old_data = this.data;
          var r = confirm('Do you want to remove "' + tag.name + '" tag from this case?');
          if (r) {
            for (var i = 0; i < old_data.with_tags.length; i++) {
              if (old_data.with_tags[i].id == tag.id) {
                var id = old_data.with_tags[i].raw_id;
                if (old_data.c_selected_tags[id] == 1) {
                  old_data.with_tags.splice(i, 1);
                }
              }
            }
            var vars = {
              q: 'tag_delete',
              tag_raw_id: tag.raw_id,
              card_id: card.id
            };
            $.ajax({
                type: "POST",
                url: "sql/update_sql.php",
                data: vars
              })
              .done(function() {
                for (var i = 0; i < old_data.cards.length; i++) {
                  var c = old_data.cards[i];
                  if (c.id == card.id) {
                    for (var j = 0; j <c.tags_info.length; j++) {
                      var t = c.tags_info[j];
                      if (t.id == tag.id) {
                        c.tags_info.splice(j,1);
                      }
                    }
                  }
                }
                processData(old_data);
              })
          }
        },
        editComplete: function(card, event) {
          var old_data = this.data;
          var card_content = $("#content_" + card.id + " textarea")[0].value;
          var r = confirm('Do you want to edit this case?');
          if (r) {
            var vars = {
              q: 'card_edit',
              card_id: card.id,
              card_content: card_content
            };
            $.ajax({
                type: "POST",
                url: "sql/update_sql.php",
                data: vars
              })
              .done(function() {
                for (var i = 0; i < old_data.cards.length; i++) {
                  var c = old_data.cards[i];
                  if (c.id == card.id) {
                    c.content = card_content;
                  }
                }
                processData(old_data)
              })
          }
          card.editing = false;
        },
        deleteCard: function(card, event) {
          var old_data = this.data;
          var r = confirm('Do you want to remove this case?');
          if (r) {
            var vars = {
              q: 'card_delete',
              card_id: card.id
            };
            $.ajax({
                type: "POST",
                url: "sql/update_sql.php",
                data: vars
              })
              .done(function() {
                for (var i = 0; i < old_data.cards.length; i++) {
                  var c = old_data.cards[i];
                  if (c.id == card.id) {
                    old_data.cards.splice(i,1);
                  }
                }
                processData(old_data)
              })
          }
        },
        selectReady: function(card) {
          var old_data = this.data;
          $.typeahead({
            input: '#select_' + card.id,
            minLength: 2,
            maxItem: 5000,
            order: 'asc',
            accent: true,
            group: true,
            hightlight: true,
            dropdownFilter: "All",
            maxItemPerGroup: 2000,
            template: function(query, item) {
              var list = item.display.split(' | ');
              var result = list[0] + '<br /><small style="color:#888;">';
              for (var i = 1; i < list.length; i++) {
                result += list[i] + '<br />';
              }
              result += '</small>';
              return result;
            },
            emptyTemplate: "No result for {{query}}",
            debug: true,
            source: {
              "Location": {
                ajax: {
                  type: "GET",
                  url: "sql/typeahead/load_data_possibleTags.php",
                  path: "data.location"
                }
              },
              "Symptom": {
                ajax: {
                  type: "GET",
                  url: "sql/typeahead/load_data_possibleTags.php",
                  path: "data.symptom"
                }
              },
              "Disease": {
                ajax: {
                  type: "GET",
                  url: "sql/typeahead/load_data_possibleTags.php",
                  path: "data.disease"
                }
              },
              "Risk": {
                ajax: {
                  type: "GET",
                  url: "sql/typeahead/load_data_possibleTags.php",
                  path: "data.risk"
                }
              },
              "Management": {
                ajax: {
                  type: "GET",
                  url: "sql/typeahead/load_data_possibleTags.php",
                  path: "data.management"
                }
              },
              "Lab": {
                ajax: {
                  type: "GET",
                  url: "sql/typeahead/load_data_possibleTags.php",
                  path: "data.lab"
                }
              }
            },
            callback: {
              onNavigateBefore: function (node, query, event) {
                event.preventInputChange = true;
              },
              onClick: function(node, a, item, event) {
                var tag_name = this.item.display.split(' | ')[0];
                var tag_category = this.item.group;
                for (var i = 0; i < old_data.cards.length; i++) {
                  var c = old_data.cards[i];
                  if (card.id == c.id) {
                    for (var j = 0; j < c.tags_info.length; j++) {
                      var t = c.tags_info[j];
                      if (t.name == tag_name && t.category == tag_category) {
                        alert('"' + t.name + '" was already tagged!');
                        return;
                      }
                    }
                  }
                }
                var vars = {
                  q: 'tag_add',
                  // q_tag: old_data.query.id,
                  tag_name: tag_name,
                  card_id: card.id,
                  tag_category: tag_category
                };
                $.ajax({
                    type: "POST",
                    url: "sql/update_sql.php",
                    data: vars,
                    dataType: 'json'
                  })
                  .done(function(tag_info) {
                    $('#select_'+card.id).val('');
                    for (var i = 0; i < old_data.cards.length; i++) {
                      var c = old_data.cards[i];
                      if (c.id == card.id) {
                        c.tags_info.push(tag_info);
                      }
                    }
                    processData(old_data);
                  })
              }
            }
          });
        }
      }
    });
  </script>
</body>

</html>
